root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 160

[*.cs]
indent_size = 4
max_line_length = 160
dotnet_diagnostic.IDE0055.severity = none
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:warning

[*.{cmd,bat}]
end_of_line = crlf
